/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('redblue.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px;
}

/* Container styles */
.container {
    width: 400px;
    margin: auto;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button, #downloadPDF {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover, #downloadPDF:hover {
    background-color: #45a049;
}

/* ID card styles */
#idCardFront, #idCardBack {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff; /* Optional background color */
    background-image: url('pexels-codioful-7130497.jpg'); 
    background-size: cover;
    background-position: center;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.id-card h2, .id-card-back h3 {
    margin: 10px 0;
}

#logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#companyLogoImg {
    height: 50px;
}

#idCardFront h6 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.85em;
}

#profilePic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
